@font-face {
    font-family: HelveticaNeue;
    font-weight: bold;
    src: url("assets/HelveticaNeue.ttc") format("TTC");
}

.cont {
    background: #f8f8f8;
}
.validation-texts{
    margin: 4px 0;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
    color: rgba(0, 0, 0, 0.7);
}
.inner-cont {
    margin-top: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 770px;
}

.row {
    --bs-gutter-x: 0 !important;

}
input, textarea, select {
    display: block;
    height: 48px;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}
.validation-icon{
    background: url('/public/images/success.png') no-repeat right;
}
.error-icon{
    background: url('/public/images/error.png') no-repeat right ;
    padding-left: 30px;

}

input[type="text"] {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

label {
    margin: 6px 0;
    font-family: 'Helvetica Neue';
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.hr {
    margin: 0 160px !important;
    width: 607px;
    border: 1px solid #1A1A1A;

}


.page-number {
    width: 29px;
    height: 20px;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    color: #1A1A1A;
}

.page-titles {
    margin-left: 160px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #1A1A1A;
}


.sec-body {
    margin: 30px 0 30px 162px;

}

.upload-button {
    color: #FFFFFF;
    background: #0E80BF;
    border-radius: 4px;
    width: 107px;
    height: 29px;
    padding: 0px 10px 12px;
    gap: 10px;
}

.upload-button-note {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.about-me-input {
    height: 179px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.button-page-change-container {

    margin: 0 0 35px 162px;
}

.button-page-change {
    padding: 7px 25px;
    background: #6B40E3;
    border-radius: 4px;
}
.button-page-change:disabled{
    background: #512FAF;
}

.button-page-change:hover{
    background: #7949FF;
}

.button-page-change-note {
    width: 81px;
    height: 20px;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.add-more {
    padding: 0px 10px;
    width: 240px;
    height: 40px;
    background: #62A1EB;
    border-radius: 4px;
}

.add-more {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
}

#select-degree {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    height: 35px;
}


option {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);

}

.side-resume {
    height: 100vh;
    box-sizing: border-box;
    width: 44%;
    /*margin: 25px auto 0 auto;*/
    background: #FFFFFF;
    border: 1px solid #000000;
}

.finished-resume {
    box-sizing: border-box;
    width: 44%;
    margin: 30px auto 0 auto;
    background: #FFFFFF;
    border: 1px solid #000000;

}

.cv-container {
    top: 48px;
    left: 80px;
}

.cv-title-container {
    left: calc(50% - 550px / 2);
}

.cv-title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 12px;
    /* identical to box height */


    color: #F93B1D;
}

.email, .mobile {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 14px;
    height: 14px;
    align-self: center;
}

.person-picture {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 133px;
}

.about-me-container {
    width: 370px;
    margin-top: 100px;
}

.education-title, .experience-title, .about-me-title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F93B1D;
}

.description {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0px;

}

.name_surname {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

.experiences, .educations {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
    margin-top: 12px;
    margin-bottom: 4px;
}

.date {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
}

.description {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 590px;
    color: #000000;
}

.final-cv-divider {
    width: 575px;
    height: 0px;

    border: 1px solid #C8C8C8;
}

.Vector {
    z-index: 10;
    position: absolute;
    margin: 19px 55px;
    width: 9px;
    height: 16px;

}

.Ellipse {
    z-index: 10;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px 40px;
}

.finished-cv-ellipse {
    z-index: 10;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 7px;
    filter: brightness(97%);
}

.resume-success {
    margin-top: 25px;
    margin-right: 20px;
    padding: 28px 30px 30px;
    width: 327px;
    height: 107px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.resume-success-X {
    width: 12px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 5px;
}

.dropdown-option:hover{
    background: #C3DCEE;
}

.resume-logo-container {
    margin-top: 100px;
    margin-bottom: 30px;
}

.resume-logo {
    width: 20px;
    margin-left: 48px;
}
.refresh-button{
    margin-top: 30px;
}